@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --cor-dado-e-titulo: hsl(150, 100%, 66%);
}

body{
    background-color: hsl(218, 23%, 16%);
    font-family: Manrope;
    font-weight: 800;
}

.painel {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos-card{
    background-color: hsl(217, 19%, 24%);
    width: 660px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.titulo-conselho{
    padding-top: 25px;
    font-size: 15px;
    color: var(--cor-dado-e-titulo);
    position: absolute;
    top: 25px;
}

.texto-conselho {
    color: hsl(193, 38%, 86%);
    font-size: 33px;
    padding: 10px 18px;
    max-width: 620px;
}

.divisao-inferior img{
    width: 550px;
    padding: 10px;
    position: absolute;
    bottom: 15%;
    right: 8.5%;
}

.dado {
    background-color: var(--cor-dado-e-titulo);
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
    flex-shrink: 0;
    position: absolute;
    bottom: -7%;
}

.dado:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}

.dado img {
    width: 22px;
}
